@charset "utf-8";

/*全体のデザイン*/
body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background-color: #f2f2f2;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.image {
  vertical-align: bottom;
}

.link {
  text-decoration: none;
}

.icon__link {
  display: inline-block;
}

.button {
  display: block;
  background-color: #74cfae;
  border: none;
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  color: #333;
}


/*ヘッダーのデザイン*/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 10;
}

.bolt_icon {
  font-size: 40px;
  color: #333;
}

.contact_button {
  float: right;
  padding: 14px 12px;
}


main {
  padding-top: 70px;
}

/*タイトル部分のデザイン*/
.title {
  padding: 250px 0;
  text-align: center;
}

.title__heading {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title__sub {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 25px;
}



/*序文のデザイン*/
.pre {
  background-color: #74cfae;
  padding-top: 50px;
}

.pre__image_block {
  float: left;
  width: 208px;
  margin-left: 10%;
}

.preface {
  float: right;
  width: 650px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.preface__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.preface__text {
  font-size: 20px;
  line-height: 25px;
  margin-top: 35px;
}



/*記事部分のデザイン*/
.latest_content {
  padding-top: 60px;
  padding-bottom: 70px;
}

.latest_content__heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}

.articles__content {
  float: left;
  width: 300px;
  margin-top: 80px;
  margin-left: 100px;
}

.articles__content:nth-child(-n+3) {
  margin-top: 0;
}

.articles__content:nth-child(3n+1) {
  margin-left: 0;
}

.article__image {
  opacity: 0.7;
  transition: 0.3s;
}

.article__image:hover {
  opacity: 1;
}

.email_me {
  width: 850px;
  margin: 0 auto;
  margin-top: 90px;
}

.email_me__text {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  color: #333;
  float: left;
  width: 620px;
}

.email_me__button {
  float: left;
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
}



/*スキル紹介のデザイン*/
.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills__heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__content {
  float: left;
  margin-left: 180px;
}

.skills__content:first-child {
  margin-left: 0;
}

.skill_name {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}



/*SNSコンテンツのデザイン*/
.sns {
  padding: 200px 0;
  text-align: center;
}

.sns__icon {
  display:inline-block;
  font-size: 40px;
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
  transition: 0.3s;
}

.sns__icon:hover {
  background-color: #fff;
}



/*フッターのデザイン*/
.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer__text {
  font-size: 15px;
  color: #fff;
}
